


*{
    padding: 0;
    margin: 0;

}


.vzhled{
    
    
    height: 100vh;
    min-height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
html{
    background-color: black;
    background: url(obrazky/238126-min.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.famoushandguns{
    font-family: poppins;
    font-size: 50px;
    text-align: center;
    color: white;
    margin-top: 220px;
}

.navbar{
    z-index: 9999;
    backdrop-filter: blur(10px);
    height:  10%;
    width: 100%;
    background: rgba(0, 0, 0, 0.626);
    overflow: hidden;
    
    position: fixed;
    top: 0;
    width: 100%;
}

.futr{
    z-index: 9999;
    backdrop-filter: blur(10px);
    height:  150px;
    width: 100%;
    background: rgba(0, 0, 0, 0.626);
    margin-top: 50px;
    
    bottom: 0;
    width: 100%;
    
}
.futr p{
    color: white;
    font-family: poppins;
    text-align: center;
    
    font-size: 20px;
    bottom: 5%;
}

.kategorie{
    float: right;
}

.homebutton{
    float: left;
}
.navbar ul li{
    list-style: none;
    margin: 15px;
    display: inline-block;
    line-height: 80px;


}

.discord{
    color: white;
    text-align: center;
}


.navbar ul li a{
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 35px;
    padding: 6px 13px;
    font-family: 'Roboto', sans-serif;
    transition: .4s;
    font-family: poppins;
    margin-right: 20px;

}
.navbar ul li a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 1px;
    background: white;
    transition: 0.26s ease-out;
   


}
.navbar ul li a:hover::after{
    left: 0;
    width: 100%;
}




.trida1{
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    
    
}
.trida1 h1{
    color: white;
    font-size: 70px;
    font-weight: bold;
    width: 900px;
    text-align: center;


}
.trida1 h2{
    font-size: 70px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    width: 950px;
    text-align: center;
    
}
.nadpis{
    text-size-adjust: auto;
    margin-top: 10px;
    text-align: center;
    font-family: poppins;
    color: white;
    font-size: 40px;
    margin-bottom: 220px;
}

.podnadpis{
    margin-right: 20px;
    margin-left: 20px;
    font-family: poppins;
    color: white;
    font-size: 18px;
    
    


}

.podnadpis p{
    margin-top: 40px;
    margin-right: 20px;
    
}

.obdelnik{

    backdrop-filter: blur(5px);
    padding-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
    background: rgba(17, 17, 17, 0.45);
    padding-bottom: 20px;
    margin-top: 40px;
    margin-bottom: 60px;
    border-radius: 4px;
    transition: 0.5s;
}
.obdelnik:hover{
    backdrop-filter: blur(5px);
    padding-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
    background: rgba(59, 59, 59, 0.45);
    padding-bottom: 20px;
    margin-top: 40px;
    margin-bottom: 60px;
    border-radius: 4px;
    
    transform: scale(1.05);
    transition: 0.5s;
    
    

}
.obdelnik h2{
    font-family: poppins;
    color: white;
    font-size: 40px;
    margin-left: 20px;
}
.podnadpis{
    display: flex;
    
}
.obrazek{
    max-height: 400px;
    max-width: 600px;
    margin-bottom: 50px;
    width: auto;
    height: auto;
    display: block;
    

}
.obrazek2{
    max-height: 100px;
    max-width: 100px;
    margin-bottom: 50px;
    margin-left: 50px;
    
}
.nadpisobrazek{
    display: flex;
    margin-top: 30px;
    margin-left: 50px;
}
.ahojky{
    color: yellow;
}
